<footer>
    <p>Free classifieds online shoes store...</p>
    <p>Step into comfort and style with our online shoe store!</p>
    <p>
      Trendy, affordable, and delivered to your door - find the perfect pair
      for every occasion, anytime, anywhere!"
      <span>
        Follow us:
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        <a href=""><i class="fa-brands fa-tiktok"></i></a>
        <a href=""><i class="fa-brands fa-pinterest"></i> </a>
        <a href=""><i class="fa-brands fa-shopify"></i></a>
      </span>
    </p>
  </footer>
