footer {
    padding-bottom: 6px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 10vh;
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: larger;
    font-style: italic;
  }
  
  span {
    margin-left: 50px;
    font-size: 16px;
  }
  i {
    margin: 2px;
  }