.profile-card {
  width: 400px;
  height: 400px;
  background-color: #eeeeee;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-style: oblique;
  border-radius: 10px;
  font-weight: bolder;
}

.profile-card img {
  width: 200px;
  height: 220px;
}

a {
  background-color: black;
  border-radius: 4px;
  height: 24px;
  width: 80px;
  text-align: center;
  padding-top: 4px;
}
