.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
  }
  
  .brands-container {
    background-color: black;
    width: 700px;
    display: flex;
    justify-content: flex-start;
  }
  
  ul.items {
    width: 100%;
    list-style-type: none;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    height: 50px;
  }
  
  li.item {
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 10px;
    color: grey;
  }
  
  .item:hover {
    background-color: grey;
    cursor: pointer;
    color: black;
  }
  img {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 2px;
  }
  
  ul {
     width: 100%;
    list-style-type: none;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    height: 50px;
  }
  